<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library Collection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container a13">
        <div class="content a14">
            <h2>LIBRARY</h2>
            <table>
                <thead>
                    <th>Media type</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                </thead>
                {% for item in items %}
                <tr>
                    
                    <td>{{ item[1] }}</td>
                    <td><a href="/item/{{ item[0] }}">{{ item[2] }}</a></td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[4] }}</td>
                </tr>
                {% endfor %}
            </table>
            <div>
                <h2> Add item to the library: </h2>
                <form method="POST" action="/items/">
                    {{ form.hidden_tag() }}
                    <table>
                        {% for field in form if field.widget.input_type != 'hidden' %}
                        <tr>
                            <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                            <td>{{ field }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <input type="submit" value="Enter">
                </form>
            </div>
        </div>
    </div>
</body>

</html>